name: GH-Actions
on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"
env:
  CARGO_TERM_COLOR: always

jobs:
  go_service_build:
    runs-on: cronos
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          clean: true
      - name: Other depedencies
        run: |
          apt-get install -y gpg
      - name: Go Service Build
        run: |
          cat Dockerfile
          go mod download
          go build -o go-server
          ls
      - name: Go Service Test
        run: go test ./... -coverprofile /tmp/coverage.out
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: "/tmp/coverage.out"
      - name: Build Docker image
        run: |
          docker build \
            --label git_sha=${{ github.sha }} \
            --label build_date=$(date -u +"%Y-%m-%dT%H:%M:%SZ") \
            --label version=${{ github.ref_name }} \
            --label repository=${{ github.repository }} \
            -t backend:${{ github.sha }} \
            .
